@page

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>About OWOR</h3>

<p>OneWireOnRaspberry (OWOR) is a project to manage OneWire sensors connected to a Raspberry Pi without the need for proprietary tools such as OwServer or Wiregate.</p>

<p>It features:</p>
<ul>
    <li>Sensor assembling (identifying combined sensor elements such as the Wiregate Multisensor)</li>
    <li>Web Ui</li>
    <li>Mqtt publishing</li>
</ul>
